name: flexible_dropdown
summary: Customize flexible dropdown
description: Allows the dropdown to be dismissed by tapping | panning the scrim and Set transparent for header(Barrier)
version: 1.0.2
homepage: https://github.com/TrangLeQuynh/flexible_dropdown

environment:
  sdk: '>=3.0.5 <4.0.0'
  flutter: ">=3.3.0"

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
